<div class="container edit-container">
  <%= simple_form_for [@user] do |f| %>
    <%= f.error_notification %>
    <div class="goal-set">
      I want to visit <%= f.input :number_countries, label: false %> countries over <%= f.input :years, label: false %> years.
    </div>
    <div class="text-center" style="margin-bottom: 5vh">
      <% avatar_url = current_user.facebook_picture_url || current_user.photo.url %>
      <% if avatar_url.nil? %>
        <% avatar_url = image_path("blank_avatar.jpg") %>
      <% end %>
      <%= image_tag avatar_url, class: "style_image" %>
      <%= f.input :photo, label: false, class: "text-center" %>
      <%= f.input :photo_cache, as: :hidden, class: "text-center" %>
      <p>First Name<%= f.input :first_name, label: false %></p>
      <p>Last Name<%= f.input :last_name, label: false %></p>
      <p>Email<%= f.input :email, label: false %></p>
      <p>Home City<%= f.input :airport_code, required: true, collection: ["New York", "Miami", "Newark", "San Francisco", "Houston", "Washington, DC", "Los Angeles", "Atlanta", "Dallas", "Toronto", "Vancouver", "Montreal", "Amsterdam", "Paris", "Frankfurt", "Moscow", "London", "Rome", "Vienna", "Helsinki", "Copenhagen", "Zurich", "Sydney", "Tokyo", "Cairo", "New Dheli", "Dubai", "Shanghai", "Hong Kong", "Beijing", "Seoul", "Jeddah", "Sao Paulo", "Bogota", "Rio De Janeiro", "Santiago", "Lima", "Caracas", "Buenos Aires", "Quito", "Medellin", "Panama City"], label: false %></p>
    </div>
    <div class="text-center">
      <%= f.button :submit, "Submit changes", class: "globegetter-button-pink"%>
    </div>
  <% end %>
</div>
