<body style="background-color: white;">
  <div class="dashboard-container">
  <div class="text-center user_profile">
    <% avatar_url = current_user.facebook_picture_url || current_user.photo.url %>
    <% if avatar_url.nil? %>
      <% avatar_url = image_path("blank_avatar.jpg") %>
    <% end %>
    <%= image_tag avatar_url, class: "style_image" %>

    <div class="edit_profile_button"><%= link_to "Edit Profile", edit_user_path(current_user), class: "globegetter-button-pink" %></div>
  </div>
</div>


    <% denomenator = @user.years.to_f %>
    <% if !@destinations.where(status: 1).empty? %>
      <% numerator = @user.number_countries.to_f - @destinations.where(status: 1).length%>
    <% else %>
      <% numerator = @user.number_countries.to_f %>
    <% end %>
    <% result = denomenator == 0 ? 0 : numerator/denomenator %>

  <div class="dashboard-container">
    <div class="chart-card">
      <h2><%= @user.first_name.capitalize %>'s Goal Progress</h2>
      <div class="chart">
      <%= render partial: 'shared/bar_chart', locals: {size: 50, id: "goalBarChart", data_set: @user.goal_progress_data} %>
      </div>
      <div class="info">
        <p>Your goal is to visit <em><%= @user.number_countries %></em> countries over the next <em><%= @user.years %></em> years. Keep up the hard work!</p>
        <p>If you visit about <em><%= result.round %></em> countries every year, you will complete your goal! </p>
      </div>
    </div>
  </div>

  <div class="text-center">
    <% if @destinations.where(status: 1).empty? && @destinations.where(status: 2).empty? && @destinations.where(status: 3).empty? %>
      <p>You don't have any destinations!</p>
      <%= link_to "Add destinations", destination_select_path, class: "globegetter-button-pink" %>
    <% end %>
  </div>

  <% if !@destinations.where(status: 2).empty? || !@destinations.where(status: 3).empty? %>
    <div class="dashboard-container">
      <div class="chart-card chart-card-small">
        <h3>Continents You Want To Visit</h3>
      <div class="chart">
        <%= render partial: 'shared/pie_chart', locals: {size: 50, id: "continentPieChart", data_set: @user.continent_data} %>
      </div>
    </div>
  <% end %>

  <% if !@destinations.where(status: 2).empty? || !@destinations.where(status: 3).empty? %>
    <div class="chart-card chart-card-small">
      <h3>Languages of your Destinations</h3>
      <div class="chart">
        <%= render partial: 'shared/pie_chart', locals: {size: 50, id: "languagePieChart", data_set: @user.language_data} %>
      </div>
    </div>
  <% end %>
</div>

  <% if !@destinations.where(status: 3).empty? %>
    <div class="user-destinations-card">
      <p><i class="fa fa-star-o" aria-hidden="true"></i> Top Priority</p>
      <div class="scrolling-wrapper">
      <%= render partial: 'destinations/card', collection: @user.destinations.where(status: 3) %>
      </div>
    </div>
  <% end %>

  <% if !@destinations.where(status: 2).empty? %>
    <div class="user-destinations-card">
      <p><i class="fa fa-plus-circle" aria-hidden="true"></i> I Want to Visit</p>
      <div class="scrolling-wrapper">
        <%= render partial: 'destinations/card', collection: @user.destinations.where(status: 2) %>
      </div>
    </div>
  <% end %>

  <% if !@destinations.where(status: 1).empty? %>
    <div class="user-destinations-card">
      <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> I've Visited</p>
      <div class="scrolling-wrapper">
        <%= render partial: 'destinations/card', collection: @user.destinations.where(status: 1) %>
      </div>
    </div>
  <% end %>
</body>



