<div class="background">

  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <h2><%= @user.email %> </h2>
  <h3> Your goal is to visit <%= @user.number_countries %> countries over the next
  <%= @user.years %> years. Keep up the hard work!! </h3>
  <% denomenator = @user.years.to_f %>
  <% numerator = @user.number_countries.to_f %>
  <% result = numerator/denomenator %>
  <h3> If you visit <%= result.round %> countries every year, you will complete your goal! </h3>
  <h3> Here is a list of places you would like to visit. </h3>
  <ul>
    <% @user.destinations.each do |country| %>
      <% if country.has_been == false %>
        <li> <%= country.country.name %> </li>
      <% end %>
    <% end %>
  </ul>
  <h3> And here is a list of places you have been!! </h3>
     <% @user.destinations.each do |country| %>
      <% if country.has_been == true %>
        <li> <%= country.country.name %> </li>
      <% end %>
    <% end %>

</div>
