<div class="destinations-select-container">
  <div class="sidebar">
    <%= render partial: 'destinations/display_lists', locals: {destinations: @destinations} %>
  </div>
  <div id="mainContent" class="main-content text-center">
    <div id="content">
      <%= form_tag(countries_path, method: :get, remote: true) do %>
        <%= text_field_tag :query, nil, placeholder: 'Enter country name' %>
        <%= submit_tag 'Search' %>
      <% end %>
      <%= render partial: 'countries/display_lists', locals: {countries: @countries} %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready( function() {
      <% @destinations.each do |destination| %>
        $('#country_<%= destination.country.id %>').hide();
      <% end %>
    });
  <% end %>
<% end %>
