<h1><%= @country.name %></h1>

<% if @country.average_rating > 0 %>
  <p>Average Rating: <%= @country.average_rating %></p>
<% else %>
  <p></p>
<% end %>

<p>Continent: <%= @country.continent %></p>
<p>Capital: <%= @country.capital %></p>
<p>Currency: <%= @country.currency_name %></p>
<p>Languages for Travel: <%= @country.travel_languages %> </p>


<div id="destinations">
  <% if @destination.empty? %>
  <% %>
  <%elsif @destination.first.notes.nil? %>
    Feel free to add a note for  <%= @country.name %>
    <%= simple_form_for([@country, @destination.first], remote: true, method: :patch) do |f| %>
    <%= f.input :notes, label: false %>
    <%= f.input :status, as: :hidden %>
    <%= f.submit class: "btn btn-primary" %>
<% end %>

  <% else %>
    <% @destination.each do |destination| %>

    <%= render 'destinations/show', destination: destination %>
    <% end %>
  <% end %>
</div>
<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(4);
      }
    });
  <% end %>
<% end %>

<% if @country.reviews.empty? %>
  <p>No reviews yet for this country. Be the first to leave a review.</p>
<% else %>
  <p></p>
<% end %>


<% @country.reviews.each do |review| %>
  <p class="review"><%= review.content %></p>
  <p class="rating">
  <% review.rating.times do %>
    <i class="fa fa-star-o" aria-hidden="true"></i>
  <% end %>
    <% if current_user.reviews.include? review %>
      <p><%= link_to "Edit", edit_country_review_path(@country, review) %></p>
      <p><%= link_to "Delete", country_review_path(@country, review), method: :delete, data: { confirm: "Are you sure?"} %></p>
    <% end %>
<% end %>

<p> <%= link_to "Add Review", new_country_review_path(@country), :class => "btn btn-warning" %></p>
