<h1><%= @country.name %></h1>
<p>Continent: <%= @country.continent %></p>
<p>Capital: <%= @country.capital %></p>
<p>Currency: <%= @country.currency_name %></p>
<p>Languages for Travel: <%= @country.travel_languages %> </p>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(6);
      }
    });
  <% end %>
<% end %>
