<h1><%= @country.name %></h1>
<p>Continent: <%= @country.continent %></p>
<p>Capital: <%= @country.capital %></p>
<p>Currency: <%= @country.currency_name %></p>
<p>Languages for Travel: <%= @country.travel_languages %> </p>


