<!-- expecting "card" to be a Destination -->
<!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://picsum.photos/600/400?image=<%= (1..200).to_a.sample(1)[0] %>');">
 -->
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('<%= card.country.photo.url || Country::PLACEHOLDERS.sample %>');">
   <div class="card-category"></div>
    <div class="card-description">
      <h2><%= link_to card.country.name, country_path(card.country)%></h2>
      <div class="icons">
        <!-- For all cards, let the user delete the destination -->
        <%= link_to destination_path(card), method: :delete, remote: true do %>
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        <% end %>
        <!-- Unless they've visited already, show a check -->
        <% case %>
        <% when card.status == 3 %>
           <%= link_to destination_path(card, destination: {country_id: card.country.id, status: 1, h: 1, notes: card.notes}), method: :patch, remote: true do %>
             <i class="fa fa-check-circle-o" aria-hidden="true"></i>
           <% end %>
        <% when card.status == 2 %>
          <%= link_to destination_path(card, destination: {country_id: card.country.id, status: 1, h: 1, notes: card.notes}), method: :patch, remote: true do %>
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <% end %>
          <%= link_to destination_path(card, destination: {country_id: card.country.id, status: 3, h: 3, notes: card.notes}), method: :patch, remote: true do %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          <% end %>
        <% end %>

        <!-- For non-prority cards that they haven't visited -->
      </div>
    </div>
</div>
